## More ch4

In [1]:
# the usual starting block
# added pandas
import numpy as np 
%matplotlib inline   
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import math
from scipy import stats
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'  
# asking jupyter to show all output on execution, not just the final value
# other options:  instead of "all"  use "last_expr" or "none"

### Read file1 to use for examples

In [2]:
# read file1 to use for example data
dat1 = pd.read_csv('../Week5/file1')
dat1.head()

,carname,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

#### it's nice to keep this handy because you never know when you might feel like dropping in an image
xxxx![this guy](highest_avg_gross.jpg)

<img src="highest_avg_gross.jpg" style="width:100px;height:200px"/>

## Functions in python -- the basic template
Python functions have this structure: 

**def** *functionname*(arg1, arg2, ...)**\:** <br>
&ensp;&ensp;&ensp;    """ docstring """ <br>
&ensp;&ensp;&ensp;        code<br>
&ensp;&ensp;&ensp;        more code <br>
&ensp;&ensp;&ensp;        ...<br>
&ensp;&ensp;&ensp;        excellent code <br>
&ensp;&ensp;&ensp;        *value* = ... <br>
&ensp;&ensp;&ensp;        **return** *value*<br>

The image below was sourced from *InferentialThinking.com*, the textbook for a UC Berkeley data science course. 


<img src="../../../images/function_definition.jpg" style="width:800px;height:600px"/>


## Example:  write a function to make python's unif.rvs() function work like R's runif()

In [ ]:
def myrunif(n, a, b ):
    """ reparameterizing python's uniform random number generator 
        to make it behavelike R's runif() function
        n = number of random numbes to generate
        a,b = left and right boundaries of uniform dist
    """
    leftboundary  = a
    width  = b - a
    val = stats.uniform.rvs(loc = leftboundary, scale = width, size = n)
    return val

## test the function

In [27]:
myrunif(5,0,1)
myrunif(5, 10, 20)
myrunif(5000, 0, 100).min()
bigvec = myrunif(5000000, 0, 100)
bigvec.max()

array([0.69563939, 0.87143567, 0.43733799, 0.75854997, 0.37475452])

array([15.22723101, 11.35019769, 10.19027175, 10.08094221, 13.86116466])

0.006298889176548084

99.99999462952283

## one test to rule them all

In [39]:
out  = pd.DataFrame(bigvec).describe()

## scientific notation, no thanks, so ...

In [38]:
pd.DataFrame(bigvec).describe().apply(lambda s: s.apply(lambda x: format(x, '.2f')))

                0
count  5000000.00
mean        49.99
std         28.86
min          0.00
25%         25.00
50%         50.00
75%         74.97
max        100.00

                  0
count  5.000000e+06
mean   4.999238e+01
std    2.886021e+01
min    3.707387e-05
25%    2.499561e+01
50%    5.000351e+01
75%    7.496995e+01
max    9.999999e+01

In [ ]:
stats.beta.rvs(5, 2, size =1)
stats.uniform.pdf?

In [ ]:
plt.ylim(top = 4)
x = .406  
h = .2
xvec=np.arange(-0.2,1.2,0.001)
yvec=stats.uniform.pdf(xvec, x-h, 2*h) 
# parameters (xvalues, loc = left boundary, scale = width )
plt.plot(xvec, yvec, c='orangered')

In [6]:
### now write the same code as a function
### inputs are x and h
### function name = putaboxonit
### calling putaboxonit(.406, .2) should produce same plot as above
### function doesn't have to return anything, but it can
### NO I TAKE THAT BACK ...
### your function should return yvec
### add inputs for top, color, etc. if you want 
...

Ellipsis